<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ANZ (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:runnerFiles.RunBorrowTest@13e39c73]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:47</td>   <td>12548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:runnerFiles.RunStartOverTest@6a28ffa4]">runScenario</td> 
  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:35</td>   <td>153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:runnerFiles.RunBorrowTest@13e39c73]">runScenario</td> 
  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:47</td>   <td>12678</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runnerFiles.RunStartOverTest@6a28ffa4]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:47</td>   <td>12680</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:runnerFiles.RunUnableToCalculateBorrowEstimationTest@48ae9b55]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:47</td>   <td>12538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:runnerFiles.RunStartOverTest@6a28ffa4]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:47</td>   <td>12532</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runnerFiles.RunBorrowTest@13e39c73]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:52</td>   <td>17904</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runnerFiles.RunUnableToCalculateBorrowEstimationTest@48ae9b55]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1617550160</td>   <td></td> </tr>
<tr bgcolor="d3d1ba">  <td>22/06/13 20:28:47</td>   <td>12688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:runnerFiles.RunUnableToCalculateBorrowEstimationTest@48ae9b55]">runScenario</td> 
  <td>main@1617550160</td>   <td></td> </tr>
</table>
