<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ANZ</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:runnerFiles.RunUnableToCalculateBorrowEstimationTest@6a400542]">runScenario</td> 
  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:39</td>   <td>-11940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:runnerFiles.RunBorrowTest@10e41621]">runScenario</td> 
  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:50</td>   <td>-123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:runnerFiles.RunStartOverTest@654f0d9c]">runScenario</td> 
  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:39</td>   <td>-12089</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:runnerFiles.RunBorrowTest@10e41621]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:51</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:runnerFiles.RunUnableToCalculateBorrowEstimationTest@6a400542]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:50</td>   <td>-130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:runnerFiles.RunStartOverTest@654f0d9c]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:51</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runnerFiles.RunStartOverTest@654f0d9c]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:50</td>   <td>-136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runnerFiles.RunBorrowTest@10e41621]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1321530272</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>22/06/13 20:35:56</td>   <td>5361</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runnerFiles.RunUnableToCalculateBorrowEstimationTest@6a400542]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1321530272</td>   <td></td> </tr>
</table>
